In [1]:
import os
import sys
import requests
import pymysql
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty"
params = {'serviceKey':'qhGIMSQ8QLSKfvMsZ+pa7V8/Vo7cwGqNiMFLv9THsWqPspA/w9MX/Q6u23gx8MUxFk1JZoS0dDVkZymLFlDtvA==',
          'returnType': 'json',
          'numOfRows': '100',
          'pageNo': '1',
          'sidoName': '서울'}
response = requests.get(url, params=params)
print(response.status_code)

200

In [4]:
result = response.json()

In [13]:
df = pd.DataFrame(result['response']['body']['items'])
df.columns

Index(['so2Grade', 'coFlag', 'khaiValue', 'so2Value', 'coValue', 'pm10Flag',
       'o3Grade', 'pm10Value', 'khaiGrade', 'sidoName', 'no2Flag', 'no2Grade',
       'o3Flag', 'so2Flag', 'dataTime', 'coGrade', 'no2Value', 'stationName',
       'pm10Grade', 'o3Value'],
      dtype='object')

In [14]:
col = ['sidoName', 'so2Value', 'coValue', 'o3Value','no2Value','pm10Value']
df = df[col]
df.head()

  sidoName so2Value coValue o3Value no2Value pm10Value
0       서울    0.004     0.9   0.038    0.051        60
1       서울    0.003     0.5   0.059    0.025        57
2       서울    0.003     0.6   0.052    0.030        76
3       서울    0.003     0.5   0.055        -        61
4       서울    0.003     0.4   0.058    0.030        57

In [18]:
user = 'moon'
db = 'moondb'
password = 'bigdata2020'
host = 'host.docker.internal'
port = 3307
conn = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, db)
engine = create_engine(conn)
df.to_sql(name='air_pollution', con=engine, if_exists='append', index=False)

40

In [19]:
query = 'SELECT * FROM air_pollution;'
pd.read_sql_query(query, engine)

   sidoName so2Value coValue o3Value no2Value pm10Value
0        서울    0.004     0.9   0.038    0.051        60
1        서울    0.003     0.5   0.059    0.025        57
2        서울    0.003     0.6   0.052    0.030        76
3        서울    0.003     0.5   0.055        -        61
4        서울    0.003     0.4   0.058    0.030        57
5        서울    0.003     0.7   0.033    0.047        64
6        서울    0.003     0.4   0.062    0.024        56
7        서울    0.005     0.5   0.046    0.039        65
8        서울    0.003     0.4   0.038    0.020        80
9        서울    0.003     0.4   0.063    0.027        48
10       서울    0.004     0.5   0.048    0.032        60
11       서울    0.004     0.5   0.057    0.038        58
12       서울    0.004     0.6   0.042    0.053        62
13       서울    0.004     0.5   0.052    0.036        68
14       서울    0.003     0.5   0.040    0.047        60
15       서울    0.003     0.5   0.039    0.035        77
16       서울    0.003     0.6   0.036    0.045        79
17       서울    0.003     0.6   0.038    0.051        79
18       서울    0.004     0.6   0.041    0.050        70
19       서울    0.003     0.7   0.063    0.041        70
20       서울    0.003     0.6   0.050    0.046        66
21       서울    0.005     0.5   0.059    0.037        66
22       서울    0.005     0.6   0.028    0.061        70
23       서울    0.003     0.5   0.056    0.029        48
24       서울    0.004     0.4   0.063    0.027        52
25       서울    0.003     0.4   0.062    0.021        56
26       서울    0.003     0.6   0.047    0.049        65
27       서울    0.004     0.5   0.045    0.037        48
28       서울    0.003     0.7   0.034    0.044        83
29       서울    0.004     0.5   0.044    0.033        51
30       서울    0.004     0.6   0.038    0.044        62
31       서울    0.004     0.6   0.038    0.039        53
32       서울    0.003     0.6   0.038    0.044        67
33       서울        -       -       -        -         -
34       서울    0.004     0.5   0.033    0.050        61
35       서울    0.003     0.7   0.019    0.058        85
36       서울    0.003     0.5   0.050    0.036        52
37       서울    0.004     0.6   0.044    0.037        56
38       서울    0.004     0.7   0.040    0.047        71
39       서울    0.004     0.5   0.051    0.023        55